<md-toolbar color="primary" class="my-toolbar">
  <span style="margin-right: 16px;">
      <button md-mini-fab (click)="sidenav.toggle()">
          <md-icon>menu</md-icon>
      </button>
  </span>
  <span>Sights</span>
</md-toolbar>
<md-sidenav-container class="my-container">
  <md-sidenav #sidenav mode="side">
    <div class="p-2">
      <app-place-type-item *ngFor="let placeType of placeTypes" [placeType]="placeType"></app-place-type-item>
    </div>
  </md-sidenav>
  <div>
    <h1>Content</h1>
  </div>
</md-sidenav-container>
